<h1>{{title}}</h1>
<nav>
      <a routerLink="/hero-list" routerLinkActive="active">list</a>
      <a routerLink="/hero-dashboard" routerLinkActive="active">dashboard</a>
    </nav>
    <router-outlet></router-outlet>